/* styles for header */
body * {
  font-family: 'Roboto', sans-serif ;
}
header {
    height: 65px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(216, 211, 211);
  }
  /* .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    
   display:none;
  }
     */
  .header-logo {
    width: 100px;
    margin-right: 250px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 34px;
  }
  
  .header-left {
    float: left;
    padding-left: 40px;
    padding-top: 25px;

  }
  
  .header-right {
    color: black;
    font-size: 20px;
   display:flex;
   padding-left:30px;
  }

 .header-right a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    line-height: 65px;
    padding: 0 25px;
    color: black;
    color: #000000;
    text-decoration: none;
    display: block;
}

.header-right a:hover {
    background-color:#ffffff;
    text-decoration: none;
  }

.btn{
    float: right;
    margin-inline-start: auto;
    padding-top: 10px;
    margin-right: 20px;
}

.button{
  font-family: 'Roboto', sans-serif;
  color:black;
  background-color:white;
  border-color: #F7941E;
  width: 105px;
  padding:5px 5px 5px;
  border-radius: 3px;
}

/* styles for section1*/
.invitation{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
 }

 .invite{
  display: flex;
  flex-wrap: wrap;
 }

 .invitation .left{
  padding:30px 50px 30px;
 background-color: #F1F1F2;
 width: 400px; 
 }

 .invitation .left h3{ 
 font-weight: 600;
 font-size: 35px;
 width: 400px;
 }

 .left p{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  width: 340px;
 }

 .left .find{
   background-color:#F7941E;
   color: white;
   border-color: #F7941E;
   padding:10px 10px 10px;
   border-radius: 3px;
   border-style: none;
   
 }

 .invitation .letter{
  display: flex;
  flex-wrap: wrap;
  /* margin: 40px; */
  /* width: 100%; */

 }
 .letter h4{
   text-align:justify ;
   font-size: 30px;
   padding-top: 30PX;
 }
 .letter p{
  width: 400px;
  font-family: 'Roboto', sans-serif;
  line-height: 140.62%
 }
 .letter .right{
  /* margin:50px; */
  padding:30px 50px 30px;
  font-size: 17px;
  background-color: #F1F1F2;
  width: 400px;

 }
 .letter .clear{
  background-color:rgb(218, 213, 213) ;
  color: #F7941E;
  border-color: #F7941E;
  padding:10px 10px 10px;
  border-radius: 3px;
   border-style: none;
 }


 .container{
   width: 100%;
   margin:auto;

 }
 .items{
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
 }
 .items h3{
  font-family: 'Roboto', sans-serif;
   font-size: 20px;
   padding-bottom: 10px;

 }
 .items p{
  font-family: 'Roboto', sans-serif;
   font-size: 14px;
 }
 .options{
   /* display: flex; */
   max-width:100%;
  width: 20.3%;
  float: left;
  padding-bottom: 40px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 20px;
  box-shadow:0px 4px  4px rgb(230, 228, 228);
  background-color: rgb(250, 249, 249);
 }
 .options img{
  max-width:100%;
  height:auto;
   margin:0px;
 }
 .options .grey{
  padding-left: 30px;
 }
 #one{
   background-color: white;
 }
 
 .options h4{
   font-weight: 'Roboto', sans-serif;
  margin-top: 15px;
  font-size: 15px;
  padding-bottom: 50px;
 }
 .options a{
   color: black;
   padding-top: 30px;
   padding-bottom: 30px;
   text-decoration: none;
 }
 .yellowbox{
  max-width:100%;
   margin-top: 600px;
 }
 .yellow{
  display: flex;
  background-color:#F7941E;
  width: 100%;
  /* padding: 10px 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  margin-top: 80px;

 }
 .yellow .start{
   margin-right: 40px;
   font-weight: normal;
   color: black;
 }
 .yellow .button3{
  margin-block-end: auto;
  padding-left: 150px;
  padding-top: 30px;
 }
 .yellow .black{
  background-color: black;
  color:white;
  border-color:black ;
  border-radius: 3px;
  border-style: none;
  padding:10px 10px 10px;
 }
 .yellow .gold{
  color:black ;
  background-color:#F7941E;
  border-color: 0.5px solid black;
  border-radius: 3px;
  padding:10px 10px 10px;
 }
 .sec3 .box{
  /* padding: 20px; */
 }
 .top{
  text-align: center;
  width: 300;
  margin-top: 50px;
 }
 .mid{
  max-width: 100%;
  float: left;
  background-color:#231F20;
  width: 90%;
  display: flex;
  margin: 60px;
 }

 .white{
  margin:50px;
  color: white;
 }

 .white p{
  font-family: 'Roboto', sans-serif;
  width: 400px;
  font-size: 43px;
 }
 .mid .img{
  width: 450px;
 }
 .white a{
   color: white;
   text-decoration: none;
 }

 .twin{
  max-width: 100%;
   display: flex;
   padding: 30px;
  justify-content: center;
  margin-bottom: 50px;
 }
 .twin a{
   color: black;
   text-decoration: none;
 }
 .sec4 .twin1{
  
 float: left;
 width: 500px;
 text-align: left;
 padding: 30px;
 box-shadow: 2px  3px rgb(192, 190, 190);
 }

 .twin1 p{
  font-family: 'Roboto', sans-serif;
 font-size: 18px;
 width: 400px;
 padding-bottom: 40px;
 }
 .twin1 h3{
   font-size: 20px;
   width: 300px;
 }
 .twin2{
  max-width:100%;
  float: right;
  width: 400px;
  padding: 30px;
  text-align: left;
 }
 .twin2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-bottom: 40px;
   }
   .twin2 h3{
    font-family: 'Roboto', sans-serif;
     font-size: 20px;
     width: 400px;
   }
   footer{
     padding-top: 50px;
     padding-bottom: 20px;
     text-align: center;
     background-color: rgb(247, 247, 247);
   }
   .levelup{
     text-align: center;
     margin-top:20px ;
     margin-bottom: 40px;
   }
   .levelup a{
     padding-bottom: 60px;
     margin: 35px;
     color: black;
     text-decoration: none;
   }
   #pan{
   margin-left:30px;
   margin-right: 60px;
   background-color: rgb(247, 247, 247);
   }
   .leveldown{
    text-align: center;
    margin-top:20px ;
    margin-right: 37%;
   }
 .link {
  justify-content: center;
   padding: 15px;
   list-style: none;
   margin-top: 40px;
   margin-bottom: 60px;
   font-family: Homemade Apple;
  
 }
 .facebook {
    align-items: center;
    background-color:black;
    color:white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;

  }
  
   .twitter { 
    align-items: center;
    background-color: black;
    color:white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  .instagram{
    align-items: center;
    background-color:black;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  .youtube{
    align-items: center;
    background-color:black;
    color:white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  .pinterest{
    align-items: center;
    background-color:black;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }
  .bottom{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 20px 0px;
    text-align: center;
  }
  .bottom a{
    color: black;
    text-decoration: none;
  }